.login-body {
    margin: 0 auto;
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: green;

    .login-image {
        height: 100%;
        background: url("\#{resource['ecuador-layout:images/bg-image-login.jpg']}") no-repeat;
        background-size: cover;
        background-position: center;

        .login-panel {
            padding: 70px 36px;
            position: relative;
            margin: 0 auto;
            width: 350px;
            height: 400px;
            text-align: center;
            background-color: white;
            top: 70%;

        }
    }

    .login-topbar {
        height: 60px;
        width: 100%;
        @include background-gradient-left2right($topbarBgLeftColor, $topbarBgRightColor);
        text-align: center;
        position: fixed;



        .logo {
            height: 60px;
            top: 20px;
            position: relative;
    
            img {
                height: 14px;
                width: auto;
                vertical-align: middle;
                border: 0 none;
            }
        }
    }



    .login-header {
        color: green;
    }
}
